<div class="container">
  <div class="skill-header">
    <button (click)="addSkill()" class="addBtn" mat-raised-button color="primary" mat-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
      <span style="margin-left: 6px">Add new</span>
    </button>
    <mat-form-field class="skill-label-input">
      <input matInput placeholder="Skill" value="" maxlength="10" [(ngModel)]="newSkillInput">
    </mat-form-field>
    <!--    <button mat-button mat-icon-button mat-raised-button style="margin-left: 20px;align-self: baseline">-->
    <!--      <mat-icon aria-hidden="false" aria-label="Example home icon">check</mat-icon>-->
    <!--    </button>-->
  </div>


  <p *ngIf="skills.length!==1;else oneEmp">Total {{skills.length}} skills.</p>
  <ng-template #oneEmp><p>1 skill.</p></ng-template>
  <mat-divider style="margin-top: 20px"></mat-divider>

  <mat-nav-list>
    <mat-list-item *ngFor="let skill of skills">
      <a matLine> {{skill.label}}</a>
      <mat-form-field *ngIf="isSkillEditOpen===skill.skillId" class="skill-label-input">
        <input matInput value="11" maxlength="10" [(ngModel)]="updatedSkillLabel">
      </mat-form-field>
      <button mat-icon-button *ngIf="isSkillEditOpen !== skill.skillId"
              (click)="isSkillEditOpen = skill.skillId; updatedSkillLabel=skill.label">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="isSkillEditOpen===skill.skillId" mat-icon-button (click)="updateSkill(skill)">
        <mat-icon>check</mat-icon>
      </button>
      <button *ngIf="isSkillEditOpen===skill.skillId" mat-icon-button (click)="isSkillEditOpen = undefined">
        <mat-icon>close</mat-icon>
      </button>

      <button mat-icon-button (click)="deleteSkill(skill.skillId)" *ngIf="isSkillEditOpen !== skill.skillId">
        <mat-icon style="color: red">delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
