<div class="container">
  <div class="skill-header">
    <button class="addBtn" mat-raised-button color="primary" mat-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
      <span style="margin-left: 6px">Add new</span>
    </button>
    <mat-form-field class="skill-label-input">
      <input matInput placeholder="Skill" value="" maxlength="10">
    </mat-form-field>
    <button mat-button mat-icon-button mat-raised-button style="margin-left: 20px;align-self: baseline">
      <mat-icon aria-hidden="false" aria-label="Example home icon">check</mat-icon>
    </button>
  </div>


  <p *ngIf="skills.length!==1;else oneEmp">Total {{skills.length}} skills.</p>
  <ng-template #oneEmp><p>1 skill.</p></ng-template>
  <mat-divider style="margin-top: 20px"></mat-divider>

  <mat-nav-list>
    <mat-list-item *ngFor="let skill of skills">
      <a matLine routerLink="/emp/{{skill.id}}"> {{skill.label}}</a>
      <button mat-icon-button (click)="updateSkill(skill)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteSkill(skill)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
