<div class="container">
  <div class="skill-header">
    <button (click)="addSkill()" class="addBtn" color="primary" mat-button mat-raised-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
      <span style="margin-left: 6px">Add new</span>
    </button>
    <mat-form-field class="skill-label-input">
      <input [(ngModel)]="newSkillInput" matInput maxlength="10" placeholder="Skill" value="">
    </mat-form-field>
  </div>

  <p *ngIf="skills.length!==1;else oneEmp">Total {{skills.length}} skills.</p>
  <ng-template #oneEmp><p>1 skill.</p></ng-template>
  <mat-divider style="margin-top: 20px"></mat-divider>

  <mat-nav-list>
    <mat-list-item *ngFor="let skill of skills">
      <a matLine> {{skill.label}}</a>
      <mat-form-field *ngIf="isSkillEditOpen===skill.skillId" class="skill-label-input">
        <input [(ngModel)]="updatedSkillLabel" matInput maxlength="10" value="11">
      </mat-form-field>
      <button (click)="isSkillEditOpen = skill.skillId; updatedSkillLabel=skill.label" *ngIf="isSkillEditOpen !== skill.skillId"
              mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="updateSkill(skill)" *ngIf="isSkillEditOpen===skill.skillId" mat-icon-button>
        <mat-icon>check</mat-icon>
      </button>
      <button (click)="isSkillEditOpen = undefined" *ngIf="isSkillEditOpen===skill.skillId" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>

      <button (click)="deleteSkill(skill.skillId)" *ngIf="isSkillEditOpen !== skill.skillId" mat-icon-button>
        <mat-icon style="color: red">delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
