.mat-toolbar {
  display: flex;
  justify-content: left;
  align-items: center;
}

div[style] {
  padding: 10px;
}

.content-box {
  display: flex;
  height: calc(100vh - 50px);
  padding: 10px;
}

.nav-link-button {
  width: 100%;
  margin-bottom: 10px;
}

.nav-bar {
  width: 20%;
  background-color: #fff
}
