<mat-toolbar color="primary" style="height: 50px">
  <span>EMP MGT</span>
</mat-toolbar>

<div class="content-box">
  <!-- Navigation column -->
  <div class="nav-bar">
    <!-- Navigation links -->
    <a mat-stroked-button color="primary" class="nav-link-button" routerLink="/emps">Employees</a>
    <a mat-stroked-button color="primary" class="nav-link-button" routerLink="/skills">Skills</a>
  </div>

  <!-- Content column -->
  <div style="flex: 1; background-color: white">
    <!-- Content -->
    <router-outlet></router-outlet>
  </div>
</div>
