<div class="container">
  <h2>Create a new employee</h2>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input [formControl]="nameFormControl" matInput placeholder="Name">
      <mat-error *ngIf="!nameFormControl.hasError('required')">
        Please enter a name
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input [formControl]="emailFormControl" matInput placeholder="Email">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [formControl]="dateControl" [matDatepicker]="datepicker" matInput name="datePick"
             placeholder="Select Date">
      <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Skills</mat-label>
      <mat-select [(value)]="selectedSkills" [formControl]="skillFormControl" multiple>
        <mat-option *ngFor="let skill of allSkillsLoaded" [value]="skill">{{skill.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button (click)="addEmp()" color="primary" mat-button mat-raised-button>Create</button>
      <button (click)="goBack()" mat-button mat-stroked-button style="margin-left: 10px">Cancel</button>
    </div>
  </form>
</div>


