<div class="container">
  <h2>Create a new employee</h2>

  <form class="example-form">
    <!--    <mat-form-field class="example-full-width">-->
    <!--      <input [(ngModel)]="nameInput" name="empName" matInput placeholder="Name">-->
    <!--    </mat-form-field>-->
    <!--    <mat-form-field class="example-full-width">-->
    <!--      <input [(ngModel)]="emailInput" name="empEmail" matInput placeholder="Email">-->
    <!--    </mat-form-field>-->

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" [formControl]="nameFormControl">
      <mat-error *ngIf="!nameFormControl.hasError('required')">
        Please enter a name
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="datePick" [matDatepicker]="datepicker" placeholder="Select Date"
             [formControl]="dateControl">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Skills</mat-label>
      <mat-select [formControl]="skillFormControl" multiple [(value)]="selectedSkills">
        <mat-option *ngFor="let skill of allSkillsLoaded" [value]="skill">{{skill.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button color="primary" mat-button mat-raised-button (click)="addEmp()">Create</button>
      <button mat-button mat-stroked-button style="margin-left: 10px" (click)="goBack()">Cancel</button>
    </div>
  </form>
</div>


