<div class="container">

  <button class="addBtn" mat-raised-button color="primary" routerLink="/addEmp" mat-button>
    <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
    <span style="margin-left: 6px">Add new</span>
  </button>


  <p *ngIf="employees.length!==1;else oneEmp">{{employees.length}} Employees found.</p>
  <ng-template #oneEmp><p>1 Employee found.</p></ng-template>
  <mat-divider style="margin-top: 20px"></mat-divider>

  <mat-nav-list>
    <mat-list-item *ngFor="let employee of employees">
      <!--   <app-emp-item [employee]="emp"></app-emp-item>-->
      <a matLine routerLink="/emp/{{employee.empId}}"> {{employee.name}}</a>
      <a routerLink="/emp/update/{{employee.empId}}" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-icon-button (click)="deleteEmp(employee)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
