<div class="container">

  <button class="addBtn" color="primary" mat-button mat-raised-button routerLink="/addEmp">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
    <span style="margin-left: 6px">Add new</span>
  </button>


  <p *ngIf="employees.length!==1;else oneEmp">{{employees.length}} Employees found.</p>
  <ng-template #oneEmp><p>1 Employee found.</p></ng-template>
  <mat-divider style="margin-top: 20px"></mat-divider>

  <mat-nav-list>
    <mat-list-item *ngFor="let employee of employees">
      <a matLine routerLink="/emp/{{employee.empId}}"> {{employee.name}}</a>
      <a mat-icon-button routerLink="/emp/update/{{employee.empId}}">
        <mat-icon>edit</mat-icon>
      </a>
      <button (click)="deleteEmp(employee)" mat-icon-button>
        <mat-icon style="color: red">delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
